<div class="row justify-content-center">
    <div class="col-8">
        <div *ngIf="driver">
            <h2><span>Driver</span> {{driver.id}}</h2>
            <hr>
            <jhi-alert-error></jhi-alert-error>
            <dl class="row-md jh-entity-details">
                <dt><span>Name</span></dt>
                <dd>
                    <span>{{driver.name}}</span>
                </dd>
                <dt><span>First Rating</span></dt>
                <dd>
                    <span>{{driver.firstRating}}</span>
                </dd>
                <dt><span>Second Rating</span></dt>
                <dd>
                    <span>{{driver.secondRating}}</span>
                </dd>
                <dt><span>Attribute</span></dt>
                <dd>
                    <div *ngIf="driver.attribute">
                        <a [routerLink]="['/attribute', driver.attribute?.id, 'view']">{{driver.attribute?.id}}</a>
                    </div>
                </dd>
                <dt><span>Control</span></dt>
                <dd>
                    <div *ngIf="driver.control">
                        <a [routerLink]="['/control', driver.control?.id, 'view']">{{driver.control?.id}}</a>
                    </div>
                </dd>
            </dl>

            <button type="submit"
                    (click)="previousState()"
                    class="btn btn-info">
                <fa-icon [icon]="'arrow-left'"></fa-icon>&nbsp;<span> Back</span>
            </button>

            <button type="button"
                    [routerLink]="['/driver', driver.id, 'edit']"
                    class="btn btn-primary">
                <fa-icon [icon]="'pencil-alt'"></fa-icon>&nbsp;<span> Edit</span>
            </button>
        </div>
    </div>
</div>
